
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 20px;
    line-height: 1.6;
    text-align: center;

}

h1 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
}

table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    background-color: #fff;
}

th {
    background-color: #2980b9;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1.1em;
}

td {
    border-bottom: 1px solid #ddd;
    vertical-align: top;
}


td:first-child {
    width: 70%;
}
td:last-child {
    width: 30%;
}

/* Images */
td img {
    width: 100%; /* Fill cell width */
    height: auto;
    border-radius: 4px;
    display: block;
    margin-bottom: 5px;
}

td a {
    color: #3498db;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
    font-size: 0.9em;
}

td a:hover {
    text-decoration: underline;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}
