body {
  font-family: Arial, sans-serif;
  background-color: #f7f9fc;
  text-align: center;
  margin: 30px;
}

h3 {
  color: #333;
  margin: 10px auto;
  width: fit-content;
  padding: 5px 10px;
}

table {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

td {
  border: 1px solid #ddd;
  padding: 10px;
  width: 20%;
}

th {
  background-color: #0078d7;
  border: 1px solid #ddd;
  color: white;
}
.vid-cell {
  width: 80%;
}

.titles {
  color: white;
  background-color: #0078d7;
}

.colored-row{
    color: darkblue;
    background-color: lightblue;
    font-weight: bold;
    font-size: large;
}